/* styles/home.css */
.home {
  text-align: center;
  
}

.options {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  padding: 40px;
  cursor: pointer;
  border-radius: 10px;
}